.resizer {
    background-color: #333;
    z-index: 10;
    transition: background-color 0.2s;
}

.resizer:hover,
.resizer:active {
    background-color: #0e639c;
}

.resizer.vertical {
    width: 5px;
    cursor: col-resize;
    height: 100%;
}

.resizer.horizontal {
    height: 5px;
    cursor: row-resize;
    width: 100%;
}