.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: #fff;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.activity-bar {
  width: 50px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border-right: 1px solid #1e1e1e;
}

.activity-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  color: #888;
  margin-bottom: 5px;
  border-left: 2px solid transparent;
}

.activity-icon:hover {
  color: #fff;
}

.activity-icon.active {
  color: #fff;
  border-left: 2px solid #0e639c;
}

.editor-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow: hidden;
  min-width: 0;
}

.editors-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
}

.editor-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  transition: border-color 0.2s, opacity 0.2s;
}

.editor-group.active {
  border-color: #007acc99;
  z-index: 1;
}

.editor-group:not(.active) {
  opacity: 0.95;
}

.editor-pane {
  flex: 1;
  overflow: hidden;
  background-color: #1e1e1e;
}