.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    color: #fff;
    overflow: hidden;
}

.main-layout {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.editor-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}