.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: #fff;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.editor-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow: hidden;
  min-width: 0;
}

.editors-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
}

.editor-pane {
  position: relative;
  border: 1px solid transparent;
  transition: border-color 0.2s, opacity 0.2s;
  height: 100%;
  overflow: hidden;
}

.editor-pane.active {
  border-color: #007acc99;
  z-index: 1;
}

.editor-pane:not(.active) {
  opacity: 0.85;
}