.code-editor-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.full-width-space-decoration {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

[data-theme='light'] .full-width-space-decoration {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
