.left-pane {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #252526;
    border-right: 1px solid #333;
}

.activity-bar {
    width: 50px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-right: 1px solid #1e1e1e;
    flex-shrink: 0;
}

.activity-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    color: #888;
    margin-bottom: 5px;
    border-left: 2px solid transparent;
}

.activity-icon:hover {
    color: #fff;
}

.activity-icon.active {
    color: #fff;
    border-left: 2px solid #0e639c;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    background-color: #252526;
}

.sidebar-footer {
    padding: 10px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: flex-end;
}

.settings-button {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-button:hover {
    color: #fff;
}